<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Film hozzáadása</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="formValue">
        <div class="mb-3">
          <label for="filmname">Film címe</label>
          <input id="filmname" class="form-control">
        </div>
        <div class="mb-3">
            <label for="filmrelease">Megjelenés dátuma</label>
            <input id="filmrelease" class="form-control">
          </div>
          <div class="mb-3">
            <label for="filmdirector">Rendezte</label>
            <input id="filmdirector" class="form-control">
          </div>
          <div class="mb-3">
            <label for="filmactors">Szereplők</label>
            <input id="filmactors" class="form-control">
          </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="postFilmDetails()">Film hozzáadása</button>
    </div>
  </ng-template>
  
  <button type="button" class="btn btn-success" (click)="open(content)">Hozzáadás</button>
  
  <hr>
  
  <pre>{{ closeResult }}</pre>