
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 page-head">
            <h1>Film adatbázis</h1>
            <h5>A legjobb filmtároló adatbázis eskü!</h5>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 page-head">
            <h3>Film hozzáadása</h3>
            <mm-addmodal></mm-addmodal>
            
        </div>
        <div class="col-sm-1"></div>
        
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <mm-list></mm-list>
        </div>
        <div class="col-sm-1"></div>
    </div>
  </div>


  
