<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Cím</th>
    <th scope="col">Megjelenés dátuma</th>
    <th scope="col">Rendezte</th>
    <th scope="col">Szereplők</th>
    <th scope="col">Művelet</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let Film of films; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      {{ Film.name}}
    </td>
    <td>{{ Film.release }}</td>
    <td>{{ Film.director }}</td>
    <td>{{ Film.actors }}</td>
    <td>
      <button type="button" class="btn btn-primary">Szerkesztés</button>
      <button type="button" class="btn btn-danger">Törlés</button>
    </td>
  </tr>
  </tbody>
</table>