<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Cím</th>
    <th scope="col">Megjelenés dátuma</th>
    <th scope="col">Rendezte</th>
    <th scope="col">Szereplők</th>
    <th scope="col">Művelet</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of filmData">
    <th scope="row">{{ row.id }}</th>
    <td>
      {{ row.name}}
    </td>
    <td>{{ row.release }}</td>
    <td>{{ row.director }}</td>
    <td>{{ row.actors }}</td>
    <td>
      <button type="button" class="btn btn-primary">Szerkesztés</button>
      <button type="button" class="btn btn-danger" (click)="deleteFilm(row)">Törlés</button>
    </td>
  </tr>
  </tbody>
</table>